.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.mark {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}

.mark.current {
    fill: red;
}

.mark.related {
    font-weight: bold;
}

h1 {
    font-family: sans-serif;
}
